@import "tailwindcss";

/* 基本設定 */
@theme {
  --font-sans: "Inter Variable", "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", Meiryo,
    sans-serif;
  --font-feature-settings: "palt" 1;
  --color-calendar-bg: #fffcf8;
  --color-calendar-hover-bg: #fff9f0;
  --color-calendar-text: #44403c; /* stone-700 */
  --color-calendar-border: var(--color-stone-200);
  --color-calendar-border-hover: var(--color-stone-300);
}

@layer components {
  .sc-box {
    @apply bg-calendar-bg rounded-md;
    @apply shadow-sm;
  }

  .sc-button {
    @apply border-calendar-border/50 hover:bg-calendar-hover-bg hover:border-calendar-border border transition-colors duration-200;
  }

  .sc-cell {
    @apply flex size-9 items-center justify-center;
  }
}

@layer components {
  /* カレンダー全体 */
  .calendar-container {
    @apply mx-auto p-4;
    background-image: linear-gradient(90deg, rgba(230, 230, 230, 0.05) 1px, transparent 1px),
      linear-gradient(rgba(230, 230, 230, 0.05) 1px, transparent 1px);
    background-size: 8px 8px;
  }

  /* レイアウト要素 */
  .calendar-week {
    @apply grid grid-cols-7;
  }
  .calendar-spacer {
    @apply flex h-9 items-center justify-center;
  }

  /* 月・曜日ヘッダー */
  .calendar-month {
    @apply text-calendar-text flex h-9 items-center justify-center text-base font-medium;
  }
  .calendar-weekday {
    @apply text-calendar-text text-sm font-medium;
  }

  /* 日付セル */
  .date-cell {
    @apply text-calendar-text rounded-md px-1 text-sm transition-colors duration-200 hover:bg-stone-50;
  }

  /* セル状態変化 */
  .date-cell-today {
    @apply bg-emerald-50 font-bold;
  }
  .date-cell-first-of-month {
    @apply bg-sky-50;
  }
  .date-cell-holiday {
    @apply text-red-600;
  }
  .date-cell-past {
    @apply opacity-40;
  }

  /* Tooltip */
  .tooltip {
    @apply absolute -translate-x-1/2 rounded bg-black px-2 py-1 text-xs whitespace-nowrap text-white before:absolute before:bottom-[-4px] before:left-1/2 before:-translate-x-1/2 before:border-4 before:border-transparent before:border-t-black before:content-[''];
  }
}
